.password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px; 
}

.text-block, .password-label {
    margin-top: 2vw;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-block {
    font: 30px black;
    font-weight: bold;
}

.password-label {
    margin-right: 21vw;
    font: 18px black;
}
  
.password-input {
    width: 30%; 
    padding: 8px 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 0.5vw;
}