.strength-indicator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.strength-bar {
    width: 32%;
    height: 1.5vw;
    margin-top: 1vw; 
    border-radius: 5px; 
}