.password-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px; 
}

.text-block {
    margin-top: 1vw;
    padding-top: 25px;
    padding-bottom: 20px;
    width: 100%;
    font: 30px black;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
  
.password-input {
    width: 35%; 
    padding: 8px 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px; 
}
  
.strength-container {
    display: flex;
    flex-direction: column; 
    width: 35%; 
}
  
.strength-bar {
    height: 10px;
    margin-bottom: 5px; 
    border-radius: 5px; 
}
  